body {
	margin: 0;
    background-color: #282f57;
    text-align: center;
    padding-top: 65%;
}

.mcontainer {
	display: inline-block;
    width: 80%;
    max-width: 960px;
    text-align: left;
    -webkit-transition: opacity .4s ease-in-out, transform .4s ease-in-out, margin-top .4s ease-in-out;
         -o-transition: opacity .4s ease-in-out, transform .4s ease-in-out, margin-top .4s ease-in-out;
            transition: opacity .4s ease-in-out, transform .4s ease-in-out, margin-top .4s ease-in-out;
    margin-top: 10%;
    opacity: 0;
    visibility: hidden;
}

.mcontainer a {
	width: 100%;
}

.ncontainer {
	display: inline-block;
	position: fixed;
	top: 50%;
	left: 50%;
    width: 80%;
    height: 80%;
    max-width: 960px;
    text-align: left;
    -webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	z-index: 101;
	visibility: hidden;
}

.logo {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	height: auto;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-transition: top .4s ease-in-out;
         -o-transition: top .4s ease-in-out;
            transition: top .4s ease-in-out;
}

.panel {
	display: block;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #282f57;
	visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.back-panel {
    visibility: hidden;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	-webkit-transition: opacity .4s ease-in-out;
         -o-transition: opacity .4s ease-in-out;
            transition: opacity .4s ease-in-out;
}

#menu-btn {
	position: fixed;
	top: 0;
	left: 0;
	padding: 15px;
	color: #fff;
	opacity: 0;
	z-index: 100;
	visibility: hidden;
}

#header {
	position:absolute; 
	top: 15%;
}

#header img, .page-footer img {
	width: 8vw; 
	max-width: 40px;
	padding: 10%;
	margin-top: 20%;
}

#header .col, #header .row, #header h3, #header h5, .page-footer .col, .page-footer .row{
	padding: 0;
	margin: 0;
}

#header h5 {
	margin-top: 2%;
}

.userView .background img {
	width: 100%;
}

.expandable-container {
	border-radius: 1px;
	width: 100%;
	height: 100%;
}

.expandable-container .progress {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	visibility: hidden;
}

.epandable-container ul, .expandable-container li {
	padding: 5px;
}

.expandable {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	-webkit-transition: transform .4s ease-in-out;
         -o-transition: transform .4s ease-in-out;
            transition: transform .4s ease-in-out;
    background-color: #fff;
    margin-top: -10vh;
    margin-left: -10vw;
}

.grid {
	display: inline-block;
	text-align: left;
	position: relative;
	max-width: 960px;
	top: 100px;
	vertical-align: middle;
	opacity: 0;
	-webkit-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.grid-cell {
	display: block;
	width: 200px;
	height: 200px;
	margin: 3px;
	background-color: #d1d1d1;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}

.btn-label {
	transform: translate(15px, -7px);
	background-color: #323232;
	padding: 8px;
	vertical-align: middle;
	color:  #fff;
	border-radius: 2px;
}

.btn-floating img {
	position: relative;
	top: 50%;
	width: 70%;
	height: 70%;
	margin: 0;
	padding: 0;
	transform: translateY(-50%);
}

#plus {
	-webkit-transition: transform .1s ease-in-out;
         -o-transition: transform .1s ease-in-out;
            transition: transform .1s ease-in-out;
}

#fab:hover > #plus{
	transform: scale(1.3) rotateZ(45deg);
}

.carousel-container {
	position: relative;
	width: 100%;
	height: 800px !important;
	margin-top: 3%;
	margin-bottom: 3%;
	opacity: 0;
	visibility: hidden;
	overflow: hidden; 
	perspective: 100vw !important;
	-webkit-transition: opacity .4s ease-in-out, transform .4s ease-in-out;
         -o-transition: opacity .4s ease-in-out, transform .4s ease-in-out;
            transition: opacity .4s ease-in-out, transform .4s ease-in-out;
}

.carousel-container .btn-floating {
	position: absolute !important;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-container .carousel {
	transform: rotateY(20deg);
	overflow: visible;
	width: 130.09272%;
}

.carousel .carousel-item {
	opacity: 1 !important;
	margin-bottom: 0;
}

.carousel .sc {
	transform: scale(1.5);
	box-shadow: 5px 5px 50px rgba(0, 0, 0, .2);
	cursor: pointer;
}

.carousel .ic-container {
	position: relative;
	transform: translateY(120%);
}

.carousel .ic {
	position: relative;
	width: 30% !important;
}

.carousel p {
	position: relative;
	margin: 0;
}

.design {
	margin-top: 3% !important;
	margin-bottom: 3%;
	visibility: hidden;
	opacity: 0;
	padding-bottom: 3%;
}

.design .mcontainer {
	text-align: center;
}

.design img, .personalization img {
	width: 100%;
	height: auto;
	-webkit-transition: transform .1s ease-in-out;
         -o-transition: transform .1s ease-in-out;
            transition: transform .1s ease-in-out;
}

.design .material-placeholder {
	width: 100%;
}

.design img:hover {
	transform: scale(1.1);
}

.design .col {
	height: 50% !important;
	overflow: hidden;
	padding: 3px !important;
}

.design .row {
	margin: 0;
}

.design .image {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
}

.design .overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 30%;
	padding: 17px;
	font-size: 24px;
	background: rgba(0,0,0,0);
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
    background:    -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
    background:      -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
    background:         linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
    -webkit-transition: padding .2s ease-in-out;
         -o-transition: padding .2s ease-in-out;
            transition: padding .2s ease-in-out;
}

.personalization {
	width: 100%;
	-webkit-transition: opacity .4s ease-in-out, transform .4s ease-in-out, margin-top .4s ease-in-out;
         -o-transition: opacity .4s ease-in-out, transform .4s ease-in-out, margin-top .4s ease-in-out;
            transition: opacity .4s ease-in-out, transform .4s ease-in-out, margin-top .4s ease-in-out;
    margin-top: 10%;
	visibility: hidden;
	opacity: 0;
}

.personalization h5 {
	margin: 20px;
}

.page-footer {
	background-color: #282f57 !important;
}

@media only screen and (max-width : 640px) {
	
	.grid {
		width: 100%;
		text-align: center;
	}

	.grid-cell {
		display: block;
		width: 90%;
	}

	.mcontainer {
		width: 100%;
	}

	.ncontainer {
		width: 100%;
		height: 100%;
	}

	#header {
		top: 4%;
		padding: 5%;
	}

	.logo {
		width: 75%;
	}

	.row {
		margin: 0;
	}

	.col {
		margin: 3px;
	}

	.carousel-container .carousel {
		transform: rotateY(20deg) translateX(-5%) !important;
	}

	.page-footer .mcontainer {
		text-align: center;
	}

	.page-footer .social {
		display: inline-block;
	}

	.page-footer p {
		padding: 10px;
		padding-right: 10px;
	}

}